body{
    margin: 0;
}

/*Fit to class later (if u need to change it dont worry)*/
input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    max-width: 100%;
    margin-top: 100px;
}
  

  